@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:regular,500,600,700);
@import "null.scss";
* {
  font-family: "josefin slab";
}
::selection {
  background-color: #240e0e;
  color: #e2dfdf;
}
$sg-font: clamp(0.8rem, 2vw, 1.2rem);
$rg-font: clamp(0.9rem, 2vw, 1.2rem);
$big-font: clamp(1.5rem, 4vw, 2.3rem);
$section-font: 2rem;
$lg-font: clamp(2.5rem, 8vw, 5rem);

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0 1.5rem;
  border-radius: 10rem;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  transition: 0.1s ease-out;
  font-size: $rg-font;
  &:hover {
    color: #e2dfdf;
  }
  &:hover .btn-text > svg > path {
    stroke: #e2dfdf;
  }
  &:hover .btn-element {
    transition: 0.1s ease-out;
    width: 15rem;
    height: 15rem;
  }
  &:active .btn-element {
    background-color: #2f2f2f;
  }
  & .btn-text {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    stroke: #240e0e;
    text-wrap: nowrap;
    & svg {
      fill: none;
      & path {
        stroke-width: 1;
        fill: none;
        stroke: #000000;
      }
    }
  }
  & .btn-element {
    z-index: 0;
    transition: 0.1s ease-out;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 0rem;
    height: 0rem;
    border-radius: 20rem;
    background-color: #000000;
  }
}

._container-in {
  max-width: 70rem;
  width: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
}
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section-title {
  font-size: $section-font;
  text-align: center;
  color: #765827;
  font-weight: 700;
  font-size: 2.5rem !important;
  margin-bottom: 6rem;
  text-transform: lowercase;
}
@media only screen and (max-width: 48rem) {
  .section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .btn {
    & .btn-text {
      & svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .header {
    background-color: #ded0b6;
    z-index: 3;
    border-bottom: 1px solid #000000;
    & .header__content {
      display: flex;
      align-items: center;
      height: 6.875rem;
      z-index: 5;
      font-size: 1.1rem;
      font-weight: 400;
      column-gap: 2rem;
      row-gap: 0.5rem;
      position: relative;
    }
    & * {
      font-size: $rg-font;
    }
    & .header__logo {
      font-size: 1.7rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & img {
        width: 1.5rem;
        height: 2.3rem;
      }
    }
    & .header__burger {
      width: 1.41rem;
      height: 1.3rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;

      & span {
        width: 1.41rem;
        height: 0.3rem;
        border-radius: 1rem;
        border: 1px solid #000000;
        transform-origin: right;
        transition: 0.1s;
      }
      &._active span:nth-child(1) {
        transform: rotate(-45deg);
      }
      &._active span:nth-child(2) {
        transform: translateX(-30%);
        opacity: 0;
      }
      &._active span:nth-child(3) {
        transform: rotate(45deg);
      }
    }
    & .header__spoiler {
      position: absolute;
      top: 101%;
      left: 0;
      width: 100%;
      padding: 2rem 2rem;
      background-color: #e2dfdf;
      border-bottom: 1px solid #000000;
      opacity: 0;
      pointer-events: none;
      transition: 0.1s;
      transform: translateY(2%);
      display: flex;
      &._active {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
      }
      & .header__spoiler-links {
        width: 35%;
        & li {
          line-height: 2;
          & a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      & .header__spoiler-images {
        border-left: 1px solid #000000;
        padding-left: 3rem;
        width: 65%;
        & li {
          display: flex;
          gap: 1rem;
          & .header__spoiler-images__content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
          & h5 {
            font-weight: 600;
          }
          & img {
            width: 18rem;
            max-height: 10rem;
            object-fit: cover;
          }
        }
      }
    }
    & .menu {
      flex-grow: 1;
      display: flex;
      align-items: center;
      & .header__lang {
        position: relative;
        margin-left: auto;
        & li {
          display: flex;
        }
        & li img {
          transform: translate(30%, 5%);
          width: 1rem;
        }
        & .lang-eng {
          cursor: pointer;
        }
        & .lang-spa {
          display: none;
          cursor: pointer;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      & .menu__list {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        row-gap: 0.5rem;
        & .header__spoiler-btn {
          &._active {
            background-color: #000000;
            color: #e2dfdf;
            span::before,
            span::after {
              background-color: #e2dfdf;
            }
          }
          &:hover span::before,
          &:hover span::after {
            background-color: #e2dfdf;
          }
          & span {
            width: 1rem;
            height: 1rem;
            z-index: 2;
            position: relative;
            transition: 0.1s;
            &._active {
              transform: rotate(180deg);
            }
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 35%;
              width: 50%;
              height: 7%;
              background-color: #000000;
              transform: rotate(-45deg) translateY(0%);
              transition: 0.1s;
            }
            &::before {
              transition: 0.1s;
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 50%;
              height: 7%;
              background-color: #000000;
              transform: rotate(45deg) translateY(0%);
            }
          }
        }
        & li {
          & a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    & .header__card-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 1rem;
    }
  }
  @media only screen and (max-width: 64rem) {
    .header {
      & .header__logo {
        width: 100%;
      }
      & .header__spoiler {
        top: 235%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        & .header__spoiler-links {
          gap: 1rem;
        }
        & * {
          font-size: 1.2rem !important;
        }
        & .header__spoiler-images {
          display: none;
          padding-left: 1rem;
          & img {
            display: none;
          }
        }
      }

      & .menu {
        border-bottom: 1px solid #000;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: auto;
        display: flex;
        background-color: #e2dfdf;
        pointer-events: none;
        overflow-y: scroll;
        opacity: 0;
        transition: 0.1s;
        padding: 3rem 1.2rem;
        align-items: self-start;
        transform: translateY(2%);
        & .header__lang {
          margin-top: 1rem;
          position: relative;
          margin-left: 0rem;
          & li {
            font-size: 1.5rem;
          }
        }
        & .menu__list {
          width: 100%;
          flex-direction: column;
          & li {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.6rem;
            padding: 0 1.5rem;
            border-radius: 10rem;
            border: 1px solid #000000;
            &:not(:first-child) * {
              width: 100%;
              height: 100%;
            }
          }
        }
        &._active {
          opacity: 1;
          flex-direction: column;
          pointer-events: all;
          transform: translateY(0%);
        }
      }
      & .header__burger {
        display: flex;
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .header {
      gap: 0.7rem;
      & .header__card-btn {
        max-width: none;
        height: 2rem;
        min-width: 4rem;
        padding: 0rem;
        gap: 0.2rem;
        & .btn-text {
        }
        & .basket-count {
          font-size: 1rem;
        }
      }
      & .header__lang {
        position: relative;
        margin-right: 1rem;
      }
      & .header__spoiler-links {
        width: 100% !important;
      }
      & .header__spoiler {
        & .header__spoiler-images {
          display: none;
        }
      }
    }
  }
  .main {
    flex-grow: 1;
    // ==============================================================
    & .main__hero {
      margin-top: -4.5rem;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
      width: 100%;
      position: relative;
    }
    // ==============================================================
    & .main__shop {
      & h2 {
        font-size: $section-font;
      }
      & .main__shop-content {
        margin: 0 auto;
        max-width: 52rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        & .shop__item {
          width: 100%;
          display: flex;
          flex-direction: column;
          max-width: 23rem;
          &:nth-child(even) {
            margin-left: auto;
            margin-top: 16rem;
          }
          & .shop__item-img {
            border: 1px solid #000000;
            height: 25rem;
            transition: 0.1s;
            &:hover {
              filter: brightness(0.8);
            }
            & img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          & .shop__item-title {
            margin: 1rem 0 0.3rem;
            line-height: 0.9;
            text-transform: uppercase;
            font-size: $big-font;
            color: #240e0e;
            font-weight: 500;
          }
          & .shop__item-link {
            font-weight: 400;
            font-size: 0.9rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 48rem) {
      & .main__shop {
        & h2 {
        }
        & .main__shop-content {
          max-width: 52rem;
          grid-template-columns: repeat(1, 1fr);
          gap: 1.5rem;
          & .shop__item {
            margin: 0 auto;
            &:nth-child(even) {
              margin-top: 0rem;
            }
            & .shop__item-img {
              height: 10rem;
            }
            & .shop__item-title {
              margin: 0.5rem 0 0.1rem;
            }
          }
        }
      }
    }
    // ==============================================================
    & .main__ordering-info {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      margin-top: 0rem;
      margin-bottom: 0rem;
      background-color: #ded0b6;
      & h2 {
      }
      & p {
        font-size: $rg-font;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        line-height: 150%;
      }
      & ol {
        padding-left: 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        & li {
          padding-left: 0.1rem;
          list-style-type: decimal;
          font-size: $rg-font;
          & span {
            font-weight: 800;
          }
        }
      }
    }
    // ==============================================================
    & .main__festivals {
      border-top: 1px solid #000000;
      & .festivals__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 40rem;
        margin: 0 auto;
        position: relative;
        &._sending {
          &::before {
            backdrop-filter: blur(5px);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 120%;
            transform: translate(-50%, -50%);
            z-index: 9;
            content: "";
          }
          &::after {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            transform-origin: left;
            z-index: 10;
            content: "";
            border: 0.1rem solid #240e0e;
            border-left-color: transparent;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            animation: spinEmail 0.5s linear infinite;
            @keyframes spinEmail {
              0% {
                transform: rotate(0deg) translateX(-50%);
              }
              100% {
                transform: rotate(360deg) translateX(-50%);
              }
            }
          }
        }

        & input,
        & div,
        & a {
          font-size: $rg-font;
        }
        & a {
          font-weight: 600;
        }
        & a:hover {
          text-decoration: underline;
        }
        & .festivals__subscribe {
          border-radius: 50rem;
          border: 1px solid #000;
          display: flex;
          width: 100%;
          max-width: 24rem;
          align-items: center;
          height: 3.1rem;
          padding-left: 1rem;

          & input {
            width: 100%;
          }
          & button {
            position: relative;
            height: 3rem;
            min-width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            transform: rotate(-90deg);
            &::after,
            &::before {
              content: "" !important;
              z-index: 6;
              width: 0.6rem !important;
              border-radius: 10px;
              background-color: currentColor;
              height: 2px;
            }
            &::before {
              transform: rotate(45deg) translate(30%, 0%);
            }
            &::after {
              transform: rotate(-45deg) translate(-30%, 0%);
            }
          }
        }
      }
    }
    // ==============================================================
    & .main__testimonials {
      & .testimonials__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & .testimonials__item {
          display: flex;
          flex-direction: column;
          width: 32rem;
          gap: 1rem;
          padding: 1rem;
          border: 2px solid #000;
          &:nth-child(2) {
            margin: auto;
          }
          &:nth-child(3) {
            margin-left: auto;
          }
          & .item__title {
            align-items: center;
            display: flex;
            gap: 0.5rem;
            img {
              width: 3.5rem;
            }
            & div {
              font-size: 1.3rem;
              font-weight: 700;
              color: #765827;
            }
          }
          & p {
            line-height: 130%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .footer {
    background-color: #ded0b6;
    padding-top: 3rem;
    .footer__logo {
      font-size: $lg-font;
      line-height: 1;
      font-weight: 800;
    }
    .footer__content {
      padding: 2rem 0;
      border-top: 1px solid #000000;
      font-size: $rg-font;
      display: flex;
      gap: clamp(2rem, 8vw, 5rem);
      & .footer__item {
        &:nth-child(2) {
          flex-grow: 1;
        }
        & ul {
          & li {
            line-height: 150%;
            & a {
              &:hover {
                text-decoration: underline;
              }
            }
            &:first-child {
              color: #765827;
              line-height: 3;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 48rem) {
    .footer {
      & .footer__content {
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 0.5rem;
        font-size: 1.3rem;
        & .footer__item {
          & ul {
            & .footer__item-images {
              display: none;
            }
            & li {
              line-height: 1.7;

              &:first-child {
                line-height: 2.5;
              }
            }
          }
        }
      }
    }
  }
}
// ============================================
/* navigation buttons */
div.swiper-button-next,
div.swiper-button-prev {
  top: calc(100% - 5rem);
  margin: 0 15%;
  z-index: 3;
  & .btn-element {
    background-color: #e2dfdf;
  }
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #000000 !important;
  color: #e2dfdf !important;
  height: 3rem !important;
  width: 3rem !important;
  opacity: 1 !important;
  position: relative;
  border-radius: 50%;
  &:hover {
    color: #000000 !important;
  }
}
.swiper-button-prev:active,
.swiper-button-next:active {
  opacity: 0.7 !important;
}

/* arrows */
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  z-index: 6;
  content: "" !important;
  position: absolute;
  width: 2px;
  border-radius: 10px;
  background-color: currentColor; /* Задайте бажаний колір */
  height: 20%;
}

.swiper-button-next::before,
.swiper-button-next::after {
  right: 40%;
}
.swiper-button-next::before {
  transform: rotate(-45deg) translate(0%, -40%);
}
.swiper-button-next::after {
  transform: rotate(45deg) translate(0%, 40%);
}

.swiper-button-prev::before,
.swiper-button-prev::after {
  left: 40%;
}
.swiper-button-prev::before {
  transform: rotate(45deg) translate(0%, -40%);
}
.swiper-button-prev::after {
  transform: rotate(-45deg) translate(0%, 40%);
}
/* arrows */
/* navigation buttons */

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 1rem !important ;
  height: 1rem !important ;
  margin: 0 5px;
  background-color: #e2dfdf !important ;
  border-radius: 1rem !important ;
  transition: 0.2s;
  border: 1px solid #000 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #000000 !important ;
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & img {
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .slide__content {
    padding: 1.2rem 1.2rem;
    position: absolute;
    top: 4.4rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70rem;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: #2f2f2f70;
    backdrop-filter: blur(1px);
    z-index: 5;
    & h2 {
      margin-left: auto;
      text-align: left;
      color: #e2dfdf;
      max-width: 40rem;
      font-size: $big-font;
      font-weight: 600;
      filter: brightness(300%);
      margin-bottom: 1rem;
    }
    & .slide__content-btn {
      margin-left: auto;
      max-width: 13rem;
      height: 3rem;
      background-color: #000000;
      color: #e2dfdf;
      &:hover {
        color: #2f2f2f;
      }
      &:hover .btn-element {
        width: 30rem;
        height: 30rem;
      }
      & .btn-element {
        background-color: #e2dfdf !important;
      }
    }
  }
}
@media only screen and (max-width: 64rem) {
  div.swiper-button-next,
  div.swiper-button-prev {
    margin: 0 0.2rem;
  }
}
@media only screen and (max-width: 48rem) {
  div.swiper-button-next,
  div.swiper-button-prev {
    top: calc(100% - 4rem);
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-slide {
    & .slide__content {
      & .slide__content-btn {
        max-width: none;
        width: 100%;
        height: 3rem;
      }
    }
  }
}
